.cadastro {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  padding: 12px;
  background-color: #f1f1f1;
  border-radius: 8px;
  gap: 12px;



  h3 {
    padding-left: 12px;
  }

  form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    transition: max-height 1s ease-in;
  }

  form.open {
    height: fit-content;
  }

  input {
    height: 2rem;
  }

  .cadastro-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}



.lista {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #f1f1f1;
  border-radius: 8px;
  gap: 12px;

  table {
    display: grid;
    grid-template-columns: repeat(4, auto);
    border-collapse: collapse;
    min-width: 100%;
  }

  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background: #00104E;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
  }

  th:nth-child(1) {
    border-top-left-radius: 8px;
  }

  th:last-child {
    border: 0;
    border-top-right-radius: 8px;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  tr:nth-child(even) td {
    background: #f8f6ff;
  }
}

.footer {
  padding: 12px 0;

}