.navbar {
  height: 50px;
  background-color: #00104e;
  display: flex;
  align-items: center;

  .navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    color: #fff;


    // .navbar-conteiner-left {
    // }
    .navbar-container-right {
      display: flex;
      align-items: center;

      p {
        padding-right: 10px;
        font-weight: 300;

        .span {
          font-weight: normal;
        }
      }

      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }
}