.sidebar {
  border-right: 0.5px solid #fff;
  min-width: 180px;


  hr {
    display: none;
    border: 0.25px solid rgb(230, 227, 227);
  }

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00104e;
    position: sticky;
    top: 0;
    z-index: 99;


    .logo {
      img {
        max-height: 30px;
      }
    }
  }

  .center {
    padding-left: 12px;

    ul {
      list-style: none;
      padding-left: 8px;

      .subtitle {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        color: #b1b1b1;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #f1f1f1;
          border-radius: 4px;
        }

        a {
          display: flex;
          align-items: center;
          gap: 12px;
        }

        .icon {
          font-size: 18px;
          color: #00104e;
        }

        span {
          align-items: center;
          font-size: 1rem;
          font-weight: 400;
          color: #444;
        }
      }
    }
  }
}