.tableContainer {
  h3 {
    margin-bottom: 10px;
  }
}

form {
  .MuiFormControl-root {
    margin: 8px 0;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.1);
  }

}

.imageArea {
  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(201, 201, 201, 0.1);
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.1);


  p {
    font-size: 16px;

    span {
      display: block;
      font-size: 10px
    }
  }

  svg {
    display: flex;
    margin: 0 auto;
  }

  .image {
    border-radius: 4px;
    margin-top: 12px;
    max-height: 200px;
    object-fit: cover;
  }

  .imageArea_inner {
    position: relative;

    span {
      position: absolute;
      padding: 12px;
      right: 0;
      top: 0;
    }
  }

}

.inputFileCustom {
  input[type="file"] {
    display: none;
  }

  label {
    padding: 20px 10px;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
}

.filesUploaded {
  background-color: #fff;
  border-radius: 10px;
  padding: 12px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.file {
  display: flex;
  width: 100%;
  align-items: center;
}

.fileIcon {
  color: #333
}

.fileText {
  font-weight: 300;
  color: #333;
  padding-left: 15px;
  align-self: flex-start;
  width: 100%;
}

.fileIconDelete {
  background-color: rgba(201, 201, 201, 0.5);

  border-radius: 15px;
  justify-self: flex-end;

  &:hover {
    background-color: red;
    cursor: pointer;
  }
}